/* Write your CSS here! */

html { 
    font-family: "cubano", sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#background {
    background-color:#12181b;
    color: #b2becd;
    background-image: url(/images/a.png);
    background-size: cover;
    width: 100%;
    height: 100%;
}

#topnav {
    position: fixed;
    background-color: #2a2e35;
    padding: 12px;
    width: 100%;
    top: 0px;
    left: 0px;
    box-shadow: 4px 0 10px -3px #010101;
}

#mainHeading {
    color: red;
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: bold;
}

button {
    color: #ffffff;
    padding-left: 20px;
    display: inline-block;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 18px;
}

.funParagraph {
    color: green;
}

body {
    margin: 8px;
    display: block;
    text-align: center;
}

h2 {
    margin: 0;
    padding-top: 10%;
    text-decoration: underline;
    font-size: 40px;
}

footer {
    padding-top: 40px;
}

.navfoot {
    background-color: #2a2e35;
    padding: 20px;
    width: 100%;
    position: relative;
    margin: -8px;
}

img {
    box-shadow: 0px 0px 5px #000000;
}
